/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: "proxima-nova","helvetica neue",helvetica,arial,sans-serif; color: #191411; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #191411; color: #fff; text-shadow: none; }
::selection { background: #191411; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #191411; }
a:visited { color: #191411; }
a:hover { color: #191411; }
a:focus { outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #191411; text-decoration: none; }

mark { background: #ff0; color: #191411; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form {
    margin-bottom: 5px;
 }
fieldset { border: 0; margin: 0; padding: 0; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; padding: 3px 5px;}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd;}


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Jesse Atkinson (jesse.s.atkinson@gmail.com)
   ========================================================================== */

/* A note on the fonts. We have "superclarendon" in 400 & 700.
    We have "proxima-nova" in 400, 400 italic, 600, 600 italic, 700, & 800.
    We also have "adobe-text-pro" in 600 italic. */


/* global styles. */
body {
    -webkit-font-smoothing: antialiased;
}

body.fixed {
    margin-top: 30px;
}

img {
    height: auto;
    max-width: 100%;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
}

p {
    font: 400 0.9rem/1.35rem "proxima-nova","helvetica neue",helvetica,arial,sans-serif;
}

h1 {
    font: 700 2rem/2rem "superclarendon",clarendon,georgia,serif;
    letter-spacing: -0.05em;
    margin: 0;
}

h2 {
    font: 700 2rem/2rem "superclarendon",clarendon,georgia,serif;
    letter-spacing: -0.05em;
    margin: 0;
}

h3 {
    font: 600 italic 1.65rem/1 "adobe-text-pro", times,"times new roman", serif;
    margin: 0 0 20px 0;
}

h4 {
    font: 600 italic 1.3rem/1.3 "adobe-text-pro", times,"times new roman", serif;
    margin: 0;
}

h5 {
    color: #6e6a6a;
    display: inline-block;
    font: 800 0.7rem/0.8 "proxima-nova", "helvetica neue",helvetica,arial,sans-serif;
    margin: 0 0 4px 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-rendering: optimizeLegibility;
}

h6 {
    color: #6e6a6a;
    font: 400 0.8rem/1.1 "proxima-nova","helvetica neue",helvetica,arial,sans-serif;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}

.button,
.button:visited {
    background: #191411;
    color: white;
    display: inline-block;
    font: 400 0.8rem/1.35 "proxima-nova","helvetica neue",helvetica,arial,sans-serif;
    letter-spacing: .1em;
    padding: 4px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    color: white;
}

.bg { /* Fall back inline image for backgrounds. Used for iOS. */
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
}

.iphone { display: none; }

/* Header */
header {
    background: url(../img/header-bg.jpg) center center fixed no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 500px;
    min-height: 280px;
    overflow: hidden;
    position: relative;
}

header .bg {
    display: inline;
    position: relative;
    z-index: -1;
}

header .title {
    color: white;
    display: none; /* Displayed via JavaScript due to jumping */
    font-size: 1.2rem;
    left: 50%;
    line-height: 1.4;
    max-width: 820px;
    position: absolute;
    top: 15%;
    width: 90%;
}

header .logo {
    bottom: 6%;
    background-position: -71px 0;
    display: inline-block;
    height: 85px;
    left: 50%;
    margin-left: -69px;
    position: absolute;
    width: 137px;
}

/* Top Navigation Bar */
.top-nav {
    background: #191411;
    height: 30px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    z-index: 2;
}

.top-nav nav {
    font: 800 0.65rem/30px "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.top-nav nav .links {
    margin: 0 auto;
    max-width: 960px;
}

.top-nav nav a {
    color: #6e6a6a;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 30px;
    padding-bottom: 7px;
    text-decoration: none;
}

.top-nav nav a span {
    display: none;
}

.top-nav nav .cut,
.cut {
    display: none;
}

.top-nav nav .social {
    display: none;
    float: right;
    height: 15px;
    margin-top: 7px;
    padding: 0;
    width: 25px;
}

.top-nav nav .facebook {
    background-position: 2px 0;
}

.top-nav nav .facebook:hover {
    background-position: 2px -15px;
}

.top-nav nav .twitter {
    background-position: -25px 0;
}

.top-nav nav .twitter:hover {
    background-position: -25px -15px;
}

.top-nav nav .email {
    background-position: -50px 0;
    margin-right: 5%;
    width: 21px;
}

.top-nav nav .email:hover {
    background-position: -50px -15px;
}

.top-nav nav .email.active,
.top-nav nav .email:active {
    background-image: url(../img/sprite.png);
    background-position: -50px -30px;
    height: 28px;
}

.subscribe_header,
.subscribe_footer {
    display: none;
    max-width: 960px;
}

.subscribe_header {
    margin: -7px auto 0;
}

.subscribe_footer {
    margin: 0 auto;
    position: relative;
}

.subscribe {
    background: #bcb8b6;
    float: right;
    padding: 5px 0;
}

.footer {
    bottom: 0;
    position: absolute;
    right: 0;
}

.subscribe form {
    margin: 0 10px 5px;
    overflow: hidden;
    width: 230px;
}

.subscribe label {
    color: #191411;
    display: block;
    font: 600 italic 1rem "adobe-text-pro", serif;
    padding-bottom: 3px;
    text-align: left;
    text-transform: none;
}

.subscribe input {
    font-family: "proxima-nova", sans-serif;
}

.subscribe input:required {
    background: white;
}

.subscribe input[name=EMAIL] {
    border: none;
    float: left;
    font-size: 0.625rem;
    height: 20px;
    padding: 0px 5px 0px 5px;
    width: 155px;
}

.subscribe input[type=submit] {
    background: #191411;
    border: none;
    color: #bcb8b6;
    float: left;
    font-size: 0.625rem;
    font-weight: 700;
    height: 20px;
    letter-spacing: 0.03rem;
}

.subscribe input[type=submit]:hover {
    color: white;
}

.mobile {
    background: none;
    float: none;
}

.mobile form {
    width: 100%;
}

.mobile label {
    color: #bcb8b6;
}

.mobile input[name="EMAIL"] {
    border-radius: 0;
    width: 70%;
}

.mobile input[type="submit"] {
    border-radius: 0;
    width: 20%;
}

/* Episode section */

.episode {
    border-bottom: 3px solid #6e6a6a;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    overflow: hidden;
    position: relative;
}

.episode h1 {
    background: #191411;
    color: white;
    display: none;
    font-size: 3.2rem;
    padding: 15px 3.2rem;
    position: absolute;
    top: 35%;
}

.episode .controls {
    display: none;
    font: italic 1.3rem/1 "adobe-text-pro", "times new roman", serif;
    padding: 0;
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    z-index: 2;
}

.episode .controls em {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    display: inline-block;
    padding: 0.5rem;
    position: relative;
    z-index: 1;
}

.episode .next em {
    margin-right: 5px;
}

.episode .previous em {
    margin-left: 5px;
}

.episode .controls span {
    background: black;
    color: #979595;
    display: inline-block;
    padding: 0.5rem;
    position: relative;
}

.episode .next {
    left: 0;
}

.episode .previous {
    right: 0;
}

.episode iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Story section */
.story,
.recent {
    background: url(../img/description-bg.jpg) repeat;
    border-bottom: 3px solid #6e6a6a;
}

.story {
    position: relative;
}

.story article {
    max-width: 960px;
    margin: 30px auto 0;
    padding: 5%;
}

.story nav {
    position: absolute;
    top: 12px;
}

.story nav .social {
    float: left;
    line-height: 19px;
    max-width: 98px;
    overflow: hidden;
}

.story .column {
    margin: 1rem 0;
}

.story .column img {
    display: none;
}

.story .column .pin-it-button img {
    width: auto;
    display: block;
}

.story .column ul {
    padding: 0;
}

.story .column li {
    list-style: none;
    margin-bottom: 1em;
}

.story .column li span {
    color: #433D3D;
    font: 600 italic 0.8125rem/1.25 "adobe-text-pro", times, 'times new roman', serif;
}

.story .next {
    float: left;
}

.story .previous {
    float: right;
}

/* About section */

.about {
    background: url(../img/about-bg.jpg) center center fixed no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 3px solid #6e6a6a;
    max-height: 719px;
    overflow: hidden;
    position: relative;
}

.about article {
    color: white;
    margin: 0 5%;
    max-width: 960px;
    padding: 34px 3% 0;
    position: relative;
    z-index: 1;
}

.about h5 {
    color: white;
}

.about .column .border {
    border-bottom: 4px solid white;
    padding-bottom: 4px;
}

.about .left {
    margin-bottom: 30px;
}

.about .right {
    text-align: center;
}

.about .right p {
    font-size: 0.9rem;
    line-height: 1.35rem;
    text-align: left;
    padding-bottom: 4em;
}

/* Recent section */
.recent article {
    margin: 0 auto;
    max-width: 960px;
    padding: 3%;
}

.recent h1 {
    margin: 1px 0px 35px 0px;
}

.recent h3 {
    line-height: 0.8;
    margin: 7px 0 0;
}

.recent h3 a,
.recent h3 a:visited {
    color: #191411;
    text-decoration: none;
}

.recent .column {
    margin-bottom: 30px;
}
.recent img {
    border: 1px #6e6a6a solid;
    margin-bottom: 15px;
    }

.recent h6 {
    color: #6e6a6a;
    display: inline-block;
    font: 800 0.75rem/0.9rem "proxima-nova", "helvetica neue",helvetica,arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-rendering:optimizeLegibility;
}

.recent p {
    font-size: 0.9rem;
    line-height: 1.35rem;
}

.button-alt,
.button-alt:active,
.button-alt:visited {
    background: #6e6a6a;
    color: white;
    display: block;
    font: 800 0.8125rem "proxima-nova","helvetica neue",helvetica,arial,sans-serif;
    letter-spacing:0.1em;
    margin: 35px auto 10px;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 130px;
}

.next {
    float: left;
}

.button-alt:hover {
    background: #191411;
    color: white;
}

/* Contact section */
.contact {
    background: url(../img/contact-bg.jpg) center center fixed no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 3px solid #6e6a6a;
    padding: 10% 0;
    overflow: hidden;
    position: relative;
}

.contact div {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    z-index: 1;
}

.contact article {
    background: #433d3d;
    margin: 0 5%;
    padding: 25px 20px;
    max-width: 310px;
}

.contact h1 {
    border-top: 4px solid white;
    color: white;
    display: inline-block;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 35px;
    padding-top: 4px;
}

.contact label {
    color: #bcb8b6;
    font-size: 0.75rem;
}

.contact ul {
    padding: 0;
    list-style: none;
    margin: 8px 0;
}

.contact li {
    margin-bottom: 16px;
}

.contact li:last-child {
    margin-bottom: 0px;
}

.contact li a,
.contact li a:visited {
    color: white;
    font: 600 italic 1.1rem "adobe-text-pro", serif;
    text-decoration: none;
}

.contact li a:hover {
    text-decoration: underline;
}

.contact .facebook,
.contact .twitter,
.contact .vimeo {
    display: inline-block;
    height: 20px;
    width: 21px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.contact .facebook {
    background-position: 0 -90px;
    margin-right: 0px;
}

.contact .facebook:hover {
    background-position: 0 -110px;
}

.contact .twitter {
    background-position: -29px -90px;
    margin-right: 4px;
}

.contact .twitter:hover {
    background-position: -29px -110px;
}

.contact .vimeo {
    background-position: -66px -90px;
}

.contact .vimeo:hover {
    background-position: -66px -110px;
}

/* Sponsor section */

.sponsor {
    background: #191411;
    padding-top: 25px;
}

.sponsor .container {
    margin: 0 5%;
    max-width: 960px;
}

.fund, .sponsors {
    border-top: 4px solid #6e6a6a;
    padding-bottom: 40px;
}

.sponsor h5 {
    color: white;
    margin-top: 5px;
}

.sponsor p {
    color: #9a9595;
    font-size: 0.75rem;
    line-height: 1.05rem;
    margin-bottom: 25px;
    padding-right: 10px;
}

.sponsor .button-alt {
    border: none;
    display: inline-block;
    margin: 0 0 15px;
    padding: 6px 21px;
    width: auto;
}

.sponsor .button-alt:hover {
    background: #433d3d;
}

.sponsors nav {
    float: left;
    width: 100%;
    margin-bottom: 24px;
}

.sponsors nav a {
    float: left;
    margin: 3% 3% 0 0;
    width: 47%;
}

.sponsors nav a:last-child {
    margin-right: 0;
}

/* Supporters section */

.supporters {
    background: url(../img/supporters-bg.jpg) repeat;
    border-top-color: #6e6a6a;
    border-top-style: solid;
    border-top-width: 0;
    height: 0;
    overflow: hidden;
    position: relative;
}

.supporters article {
    margin: 0 auto;
    max-width: 960px;
    padding-top: 50px;
}

.supporters button {
    background-position: 0 -39px;
    border: none;
    height: 40px;
    position: absolute;
    right: 0;
    top: 53px;
    width: 40px;
}

.supporters article div {
    border-bottom: 2px solid #6e6a6a;
    padding-bottom: 22px;
}

.supporters h2 {
    color: white;
    padding-bottom: 3px;
}

.supporters span {
    color: #bcb8b6;
    font: 400 0.95rem "proxima-nova", helvetica, arial, sans-serif;
}

.supporters ul {
    overflow: hidden;
    padding: 0;
}

.supporters h6 {
    color: #bcb8b6;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.supporters .padding {
    padding: 23px 0 8px;
}

.supporters ul li {
    color: #9a9595;
    list-style: none;
    font-size: 0.75rem;
}

.supporters .column {
    margin: 0 5%;
    width: 90%;
}

.supporters .column li {
    margin: 5px 0;
}

/* Footer */

footer {
    background: #433d3d;
    padding-top: 0.4rem;
}

footer form {
    display: inline-block;
}

footer .container {
    margin: 0 3%;
    max-width: 960px;
    padding: 0 0 1rem;
}

footer form label {
    color: #bcb8b6;
    display: block;
    font: 600 italic 1rem/1.7rem "adobe-text-pro", serif;
}

footer .supporters_button {
    display: none;
}

footer .email {
    border: none;
    border-radius: 0;
    background: white;
    float: left;
    width: 70%;
    font-size: .8em;
}

footer .submit {
    background: #191411;
    border: none;
    border-radius: 0;
    color: white;
    float: left;
    font-size: 0.8rem;
    padding: 3px 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

footer nav {
    font: 800 0.59rem/30px "proxima-nova","helvetica neue",helvetica,arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

footer nav a,
footer nav a:visited {
    color: #bcb8b6;
    display: inline-block;
    letter-spacing: 1px;
    text-decoration: none;
}

footer button {
    background-color: transparent;
    background-position: -9999px -9999px;
    border: none;
    color: #6E6A6A;
    font-weight: 800;
    letter-spacing: 1px;
    padding-top: 15px;
    text-transform: uppercase;
}

footer .nav:hover,
footer button:hover {
    background-position: center -18px;
    color: white;
}

footer .nav:active,
footer .nav.active {
    background-position: center -25px;
    color: white;
}

footer p {
    color: #6e6a6a;
    font-size: 0.7rem;
    margin: 0;
    line-height: .9rem;
}

footer p a,
footer p a:hover,
footer p a:visited {
    color: #bcb8b6;
    text-decoration: none;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media all and (min-width: 481px) {
    h1,
    header .title {
        font-size: 1.5rem;
    }
}

@media all and (min-width: 640px) {
    body.fixed {
        margin-top: 40px;
    }

    h1,
    header .title {
        font-size: 2rem;
    }

    h3 {
        font-size: 2.2rem;
        line-height: 1.9;
    }

    h4 {
        font-size: 2.2rem;
        line-height: 1.9rem;
    }

    h5 {
        font-size: 0.8rem;
        line-height: 0.9rem;
    }

    .button,
    .button:visited {
        background: none;
        border: 1px solid transparent;
        color: #6e6a6a;
        float: right;
    }

    .button:hover {
        background: #191411;
        color: white;
    }

    .nav:hover,
    .nav:active,
    .top-nav nav .active,
    footer nav .active,
    footer button {
        background-image: url(../img/navarrows.png);
        background-repeat: no-repeat;
    }

    .top-nav nav .nav:hover {
        background-position: center 25px;
        color: #9a9595;
    }

    .top-nav nav .nav:active,
    .top-nav nav .active {
        background-position: center 39px;
        color: white;
    }

    .top-nav nav a span {
        display: inline;
    }

    .top-nav nav .social {
        display: block;
    }

    .top-nav nav .cut,
    .cut {
        display: inline-block;
    }

    .episode h1 {
        display: block;
        z-index: 1;
    }

    .episode .controls {
        display: block;
    }

    .story article {
        margin: 0 auto;
    }

    .story .column {
        float: left;
    }

    .story .left {
        width: 33%;
    }

    .story .center {
        margin-right: 2%;
        width: 40%;
        margin-left: 2%;
    }

    .story .center p {
        margin-top: 0;
    }

    .story .right {
        width: 23%;
    }

    .story .column img {
        display: inline;
    }

    .about article {
        margin: 0 auto;
    }

    .about h1 {
        font-size: 3rem;
        line-height: 2.85rem;
    }

    .about .column {
        float: left;
        width: 50%;
    }

    .about .left {
        margin: 27% 0;
    }

    .about .left h5 {
        border-top: 3px solid white;
        padding-top: 4px;
    }

    .about .right {
        margin: 11% 0 7% 0;
    }

    .about .right .border {
        margin-bottom: 1rem;
    }

    .about .right p {
        margin: 0 auto;
        max-width: 300px;
    }

    .about .right p:first-child {
        padding-bottom: 8%;
    }

    .recent {
        background: url(../img/recent-stories-bg.jpg);
        border-bottom: 3px solid #6e6a6a;
    }

    .recent h3 {
        font-size: 1.8rem;
    }

    .story h5,
    .recent h5 {
        border-top: 3px solid #6e6a6a;
        padding-top: 4px;
    }

    .recent .column {
        float: left;
        width: 32%;
    }

    .recent .center {
        margin: 0 2%;
    }

    .recent .button {
        float: left;
    }

    .recent .button-alt {
        float: right;
    }

    .fund, .sponsors {
        float: left;
        margin: 0;
    }

    .sponsor .container {
        margin: 0 auto;
        padding: 0 3%;
    }

    .fund {
        margin-right: 2%;
        width: 25%;
    }

    .sponsors {
        width: 73%;
    }

    .sponsors div {
        float: left;
        max-width: 220px;
    }

    .sponsors nav a {
        width: 140px;
    }

    .supporters .column {
        float: left;
        margin: 0 0 35px;
        width: 15%;
    }

    .supporters .margin {
        margin: 0 1% 35px;
    }

    .mobile {
        display: none;
    }

    footer {
        background: black;
        padding: 0;
    }

    footer .container {
        margin: 0 auto;
        padding: 0 3%;
    }

    footer nav {
        color: #6e6a6a;
        float: right;
        position: relative;
        text-align: left;
        top: -15px;
    }

    footer nav a,
    footer nav a:visited {
        color: #6e6a6a;
        padding-top: 15px;
    }

    footer .social {
        display: none;
    }

    footer .supporters_button {
        display: inline;
    }

    footer p {
        color: #6e6a6a;
        float: left;
        font-size: 0.7rem;
        max-width: 421px;
        padding: 7px 0 0 0;
        width: 50%;
        line-height: 1.25em;
    }
}

@media all and (min-width: 873px) {
    h1,
    header .title {
        font-size: 3rem;
        max-width: 770px;
    }

    h3 {
        font-size: 2.2rem;
        line-height: 1.9;
    }

    .top-nav {
        height: 40px;
    }

    .top-nav nav {
        font-size: 0.8125rem;
        line-height: 40px;
        height: 50px;
        color: #6e6a6a;
    }

    .top-nav nav a {
        line-height: 40px;
    }

    .top-nav nav .social {
        margin-top: 12px;
    }

    .story nav {
        position: static;
        margin-top: 12px;
    }

    .recent h3 {
        font-size: 2.2rem;
    }

    .sponsors nav {
        float: none;
        width: auto;
    }

    footer nav {
        font-size:0.8rem;
    }
}

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bg {
        display: inline;
    }

    header .bg {
        height: 500px;
        width: 100%;
        z-index: 0;
    }
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
    html, body {
        overflow: hidden;
    }

    .bg {
        display: inline;
    }

    header {
        width: 320px;
        height: 280px;
    }

    header .bg {
        display: none;
    }

    header .iphone {
        display: inline;
    }

    .contact li a, .contact li a:visited {
        font-size: 1rem;
    }
}

/* Targets all retina displays */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .sprite {
        background-image: url(../img/sprite@2x.png);
    }

    /* http://phatness.com/2012/07/css-image-replacement-for-high-dpi-retina-display/ */
    .replace-2x {
        font-size: 1px;
    }

    header .logo {
        background-size: 150%;
    }

    .top-nav nav .facebook {
        background-size: 871%;
    }

    .top-nav nav .twitter {
        background-size: 920%;
    }

    .top-nav nav .email {
        background-size: 1010%;
    }

    .contact .facebook,
    .contact .twitter,
    .contact .vimeo {
        background-size: 1010%;
    }
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
